.container-games {
  position: relative;
  display: block;
  min-height: 100dvh;
  background-color: #1c0522;
  padding: 50px;
  .header-content {
    height: 200px;
    img {
      position: absolute;
      width: 300px;
    }
  }
}
.slide {
  width: 500PX;
  height: 29rem !important;
  object-fit: cover;
}
