<body class="opening hide-UI view-3D zoom-large data-close controls-close">
  <div id="universe" class="scale-stretched">
    <h1 class="title" [ngClass]="{'show': showTitle}">Clique na Terra</h1>
    <div id="galaxy">
      <div id="solar-system" class="earth">
        <div id="mercury" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Mercury</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="venus" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Venus</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="earth" class="orbit">
          <div class="pos" [routerLink]="['/earth-moon']" style="cursor: pointer;">
            <div class="orbit">
              <div class="pos">
                <div class="moon"></div>
              </div>
            </div>
            <div class="planet">
              <dl class="infos">
                <dt>Terra</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="mars" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Mars</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="jupiter" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Jupiter</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="saturn" class="orbit">
          <div class="pos">
            <div class="planet">
              <div class="ring"></div>
              <dl class="infos">
                <dt>Saturn</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="uranus" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Uranus</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="neptune" class="orbit">
          <div class="pos">
            <div class="planet">
              <dl class="infos">
                <dt>Neptune</dt>
                <dd><span></span></dd>
              </dl>
            </div>
          </div>
        </div>
        <div id="sun">
          <dl class="infos">
            <dt>Sun</dt>
            <dd><span></span></dd>
          </dl>
        </div>
      </div>
    </div>
    <h1 class="monologue" [ngClass]="{'show': showMonologue}">
      Tudo começou com um pequeno aglomerado de gás e poeira no universo. A partir daí, formou-se um sistema solar
      repleto de planetas, cometas e outros objetos celestes. Em meio a todos esses sistemas, o nosso é único, pois é
      nele que a vida floresceu.
      <br>
      <br>
      Você é o sol do meu sistema solar pessoal, brilhando com intensidade e aquecendo cada momento da minha vida. Como
      o sol mantém todos os planetas em suas órbitas, você é a força motriz que mantém a harmonia em minha existência.
      <br>
      <br>
      Sem você, eu sou apenas uma pequena partícula flutuando no universo, mas com a sua presença, sou parte de um
      sistema vibrante e pulsante de amor. Juntos, somos o nosso próprio sistema solar, brilhando com a luz do amor e da
      paixão.
    </h1>
  </div>
</body>
